<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>C-Gaming</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  {{> nav}}
  <div class="container">
    {{> header}}
    ALL_GAMES
    <ul>
      
      {{#each all_games}}
        <li>{{this}}   <a href="/purchase/{{this}}">Purchase</a></li>
      {{/each}}
    </ul>
    Purchased
    <ul>
      
      {{#each purchased}}
        <li>{{this}} </li>
      {{/each}}
    </ul>
    {{> footer}}
  </div>
  </body>
</html>
