<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>C-Gaming</title>
  <script src="player/js/majhdwplayer.js"></script>
  <script src="player/js/html5.hdwplayer.js"></script>
  <script type="text/javascript">
    function newWindow(game_name){
      console.log(game_name);
      var myWindow = window.open("#",'_blank', "MsgWindow", "titlebar=yes,fullscreen=yes,width=500,height=500");
    
      myWindow.document.write("<head><title>"+game_name+"</title></head>");
      /*
      We will load different javascripts file to process from server
      
      */
      //myWindow.document.write(' <iframe src="../test"></iframe> ')
      myWindow.document.write('<iframe src="./../test" height="100%" width="100%"></iframe>')
    }
  </script>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  {{> nav}}
  <div class="container">
    {{> header}}
    ALL_GAMES
    <ul>
      
      {{#each all_games}}
        <li>{{this}}   <a href="/purchase/{{this}}">Purchase</a></li>
      {{/each}}
    </ul>
    Purchased
    <ul>
      
      {{#each purchased}}
        <li>{{this}} <a href="#" onclick="newWindow('{{this}}')" id="play">Play</a></li>
      {{/each}}
    </ul>
    {{> footer}}
  </div>
  </body>
</html>
