<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>C-Gaming:Revolution in Gaming</title>
    <link rel="icon" href="./../public/img/logo.png" type="image/png  " sizes="16x16">
    <link rel="stylesheet" type="text/css" href="./../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./../css/line-icons.css">
    <link rel="stylesheet" type="text/css" href="./../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="./../css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="./../css/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="./../css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="./../css/slicknav.css">
    <link rel="stylesheet" type="text/css" href="./../css/animate.css">
    <link rel="stylesheet" type="text/css" href="./../css/main.css">    
    <link rel="stylesheet" type="text/css" href="./../css/responsive.css">

  </head>
  <body>

    <header id="hero-area" data-stellar-background-ratio="0.5">    
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand"><img class="img-fulid" src="./../img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#hero-area">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#testimonial">Reviews</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="mobile-menu">
           <li>
              <a class="page-scroll" href="/">Home</a>
            </li>
            <li>
              <a class="page-scroll" href="#services">Services</a>
            </li>
            <li>
              <a class="page-scroll" href="#features">Features</a>
            </li>
            <li>
              <a class="page-scroll" href="#testimonial">Reviews</a>
            </li>
        </ul>
      </nav>
      <div class="container">      
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">C-Gaming:Revolution in Gaming!!</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">No need to worry about Game Requirments anymore.. </p>
              <a href="/user/" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Login/Signup</a>
            </div>
          </div>
        </div> 
      </div>           
    </header>
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our Services</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">The games are streamed from our powerful servers, so you don’t waste time downloading or updating games. This is what cloud gaming is about!

 <br> Just choose the game you want, press ‘Play’, and get your very own gaming machine in seconds!</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="lnr lnr-screen"></i>
              </div>
              <h4><b>NO GAMING PC NEEDED</b></h4>
              <p>Play demanding computer games on your laptop through browser!</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon">
                <i class="lnr lnr-mustache"></i>
              </div>
              <h4><b>INSTANT ACCESS</b></h4>
              <p>You’ll never have to wait for installations or downloads again. Just click and play in the cloud!</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lnr lnr-smile"></i>
              </div>
              <h4><b>24 X 7</b></h4>
              <p>24x7 Available Anytime,Anywhere to Thousands of Game.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="features" class="section" data-stellar-background-ratio="0.2">
      <div class="container" id="overlay">
        <div class="section-header">          
          <h2 class="section-title">Some Features</h2>
          <hr class="lines">
          <p class="section-subtitle">As high performance, low cost video processing chips were introduced, it became clear that delivering video over the internet at extremely low latencies was possible.<br>Since then, it has been our obsession to perfect peer-to-peer, low latency game streaming over a wide area network. </p>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="container">
              <div class="row">
                 <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-rocket"></i>
                    </span>
                    <div class="text">
                      <h4>Minimum Latency</h4>
                      <p>On our test setup on a LAN ethernet connection, C-Gaming adds only few milliseconds of latency to your game. Remember, your ping is important, so if you're far from the computer, there will be more lag.

</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-laptop-phone"></i>
                    </span>
                    <div class="text">
                      <h4>BUD — For game streaming</h4>
                      <p>Providing reliable UDP video at the lowest latency possible while handling all sorts of messy networking situations. Built with an ultra-responsive dynamic bitrate adjustment that is constantly adjusting based on network conditions. </p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-layers"></i>
                    </span>
                    <div class="text">
                      <h4>Hardware encoding and decoding plus frame timing optimizations</h4>
                      <p>We support the h.264 codec and low latency desktop capture, with a zero-copy GPU pipeline to the encoder.We use hardware decoding whenever possible on every platform we support, and we have low level frame timing and synchronization optimizations for a smooth 30-60 FPS stream.

</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-cog"></i>
                    </span>
                    <div class="text">
                      <h4>NAT traversal for co-playing with friends</h4>
                      <p>Nothing makes you rage quit when you're just trying to play some games with friends faster than a bunch of networking errors. Making sure two computers can connect in a peer-to-peer connection with as little latency as possible is really difficult. </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>


    <section class="video-promo section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="video-promo-content text-center">
                <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Watch Our Intro video</h2>
                <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Soon to be Coming. Under Construction</p>
                <a href="https://www.youtube.com/watch?v=FC26v0u1U2o" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>
              </div>
          </div>
        </div>
      </div>
    </section>


    <div id="testimonial" class="section" data-stellar-background-ratio="0.1">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="touch-slider owl-carousel owl-theme">
              <div class="testimonial-item">
                <img src="./../img/testimonial/customer1.jpg" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>I didn't had budget to buy high end system to play the Games. <br> Thanks to C-Gaming now I Can Play..</p>
                  <h3>Richard Hendricks</h3>
                  <span>Founder of Pied Piper</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="./../img/testimonial/customer2.jpg" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>I really loved the pricing and qaulity of C-Gaming.<br> As u can see from the picture I am telling my friend about this.</p>
                  <h3>Gilfoyle Waghmare</h3>
                  <span>CTO Pied Piper</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="./../img/testimonial/customer3.jpg" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>Finally I can play PUBG PC with my low spec System. <br> You Can See Happiness from Profile Picture</p>
                  <h3>Dinesh</h3>
                  <span>Employee at Pied Piper</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="./../img/testimonial/customer4.jpg" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>I don't know much about this Platform. <br> You can see I am confused..</p>
                  <h3>Jered </h3>
                  <span>COO at Pied Piper</span>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  
    

   
    <footer>          
      <div class="container">
        <div class="row">
         <div class="col-lg-6 col-sm-6 col-xs-12">
            <ul class="footer-links">
              <li>
                <a href="#">Homepage</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="copyright">
              <p>All copyrights reserved &copy; 2019 - Designed & Developed by <a rel="nofollow" href="/">C-Gaming</a></p>
            </div>
          </div>  
        </div>
      </div>
    </footer>
    
    
    <a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>
    
    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>     

    <script src="./../js/jquery-min.js"></script>
    <script src="./../js/popper.min.js"></script>
    <script src="./../js/bootstrap.min.js"></script>
    <script src="./../js/jquery.mixitup.js"></script>
    <script src="./../js/nivo-lightbox.js"></script>
    <script src="./../js/owl.carousel.js"></script>    
    <script src="./../js/jquery.stellar.min.js"></script>    
    <script src="./../js/jquery.nav.js"></script>    
    <script src="./../js/scrolling-nav.js"></script>    
    <script src="./../js/jquery.easing.min.js"></script>    
    <script src="./../js/smoothscroll.js"></script>    
    <script src="./../js/jquery.slicknav.js"></script>     
    <script src="./../js/wow.js"></script>   
    <script src="./../js/jquery.vide.js"></script>
    <script src="./../js/jquery.counterup.min.js"></script>    
    <script src="./../js/jquery.magnific-popup.min.js"></script>    
    <script src="./../js/waypoints.min.js"></script>    
    <script src="./../js/form-validator.min.js"></script>
    <script src="./../js/contact-form-script.js"></script>   
    <script src="./../js/main.js"></script>
     
  </body>
</html>