
<html>
    <head>
        <title>Playing</title>
    </head>
<body>
    <h1>Hello</h1>
    <video id="videoPlayer" controls>  <source src="http://localhost:3000/play" type="video/mp4"></video>
</body>
</html>
