<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> --}}
</head>

<body>
  <video-js id=vid1 width=600 height=300 class="vjs-default-skin" controls>
  <source
     src="http://localhost:8080/hls/test.m3u8"
     type="application/x-mpegURL">
</video-js>
<script src="video.js"></script>
<script src="videojs-http-streaming.min.js"></script>
<script>
var player = videojs('vid1');
player.play();
</script>
  {{!-- <script src='https://vjs.zencdn.net/7.6.5/video.js'></script> --}}
</body>
</body>

</html>